-e .
black
bs4
dvc_s3
calflops
isort
langchain==0.2.9
langchain_community
langchain-experimental
langgraph==0.1.8
pandas
pymupdf
pyyaml
nltk
numpy
sentence-transformers
scipy
matplotlib
openpyxl
ollama
plotly
pylint
qdrant-client
nbformat
seaborn
scikit-learn
tensorflow[and-cuda]
tensorflow-hub
